section
  :markdown
    ## Shane's 10K Foot
    # HTML5 Platform
    ## Overview
    
    I'd be happy to talk tech with you over coffee.

    - email: [shane.holloway@ieee.org](mailto:shane.holloway@ieee.org?Subject=HTML5%2010K%20Overview)
    - phone: [(719) 237-0682](tel:+1-719-237-0682)
    - skype: [shanewholloway](skype:shanewholloway?call)

