section
  header
    h1 HTML5 Platform
    h2 a 10K Foot View

  aside.notes

section
  section
    h2 the HTML5 Platform
    h3 aka "Open Web Platform"
    
    ul
      li HTML5 Spec
      li Markup
      li Rich Media
      li Presentation
      li JavaScript APIs
      li Web Applications

    aside.notes

  section
    h2 an HTML5 Strategy
    ul
      li When, Where &amp; Why
      li How
      li Resources

    aside.notes

  section
    :markdown
      ## [Our Survey][0]
      23 reponses. [goo.gl/YfiaV](http://goo.gl/YfiaV)

      - Q1: The Overview
        - Graphics (70%), APIs (48%), Realtime (48%)
      - Q2: In-Depth
        - RESTful (43%), new elements (43%), WebSockets (39%)
      - Q3: Dead Horse
        - new elements (30%), video & audio (22%)
      - Q4: Applied (65%) vs Overview (30%)
        - I got both slots, so you get both!

      [0]: https://shaneholloway.typeform.com/report/uGgeOg/GFmD

  section
    :markdown
      ## Q5: HTML5 platform is…
        - (70%) what I need to learn for tomorrow
        - (48%) steadily becoming the present reality
        - (35%) the platform of the future

      <br/>
      <br/>
      View all at [goo.gl/YfiaV](http://goo.gl/YfiaV)
      
      [0]: https://shaneholloway.typeform.com/report/uGgeOg/GFmD

