section
  :markdown
    # Essential Resources
    - [HTML: The Living Standard][1] at WHATWG
      - (it's readable. really!)
    - [CanIUse.com][2]
      - up-to-date browser support
    - [HTML5Please.com][3]
      - advice and [polyfills][5]
    - [HTML5 Rocks resources][4]
      - community compilation of tools

    [1]: http://developers.whatwg.org
    [2]: http://caniuse.com
    [3]: http://html5please.com
    [4]: http://www.html5rocks.com/en/resources
    [5]: https://github.com/Modernizr/Modernizr/wiki/HTML5-Cross-Browser-Polyfills

section
  :markdown
    ## Demos & the Edge
    - [HTML5 Rocks Slides with Demos](http://slides.html5rocks.com)
    - [HTML5 Rocks](http://www.html5rocks.com) for the cutting-edge
    - [HTML5 Demos](http://html5demos.com) to see how it should work
    - [Modernizr](http://modernizr.com/) for smart feature detection
    - [HTML5Test](http://beta.html5test.com/) to see how your browser stacks up

section
  :markdown
    ## Books, Courses & Collections
    - Books:
      - [Dive Into HTML5][dih5] — a bit dated, but still great
      - [Introducing HTML5][ih5] by Bruce Lawson and Remy Sharp
      - [HTML5: Up and Running][h5ur] by Mark Pilgrim

    - Courses:
      - [Frontend Dev Bookmarks][fdb] @ free
      - [Web Development Teaching Materials][wdtm] @ free
      - [Udemy web development courses][udemy] @ $49-$99+
      - [Lynda's video courses][lynda] @ $25/month

    [dih5]: http://diveintohtml5.info/
    [ih5]: http://amzn.com/B003WJRW2U
    [h5ur]: http://amzn.com/B0043D2E0E
    
    [fdb]: https://github.com/dypsilon/frontend-dev-bookmarks
    [wdtm]: http://www.teaching-materials.org/
    [udemy]: https://www.udemy.com/collection/web-development-courses
    [lynda]: http://www.lynda.com/Web-training-tutorials/88-0.html

